{% extends "encyclopedia/layout.html" %}
 
{% load static %}
<head>
  <link href="{% static 'encyclopedia/styles.css' %} "rel="stylesheet">
</head>

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
  <form action="{% url 'save_edit' %}" method="POST">
    {% csrf_token %}
    <div style="display: flex;
    flex-direction: column;">
    <div style="display: flex;
    align-items: center;">

      <label style="margin-right:10px" for="title1">change the title: </label>
      <input required type="text" id="title1" name="title" style="margin-bottom: 10px; width:200px" placeholder="Enter your page name" style="display:inline" value="{{ title }}">
    </div>
    <div >
      <label style="display: block;" for="content1">Markdown Content</label>
      <textarea required id="content1" style="display:inline" name="content">{{content}}</textarea>
    </div>
      
    </div>
    <button style="background-color: antiquewhite; font-weight:bold" class="btn" type="submit" value="Edit">Save Edit </button>
  </form>


{% endblock %}