{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
  <form action="{% url 'page_created' %}" method="POST">
    {% csrf_token %}
    <div style="display: flex;
    flex-direction: column;">
    <div style="display: flex;
    align-items: center;">

      <label for="title1">Title: </label>
      <input required type="text" id="title1" name="title" style="margin-bottom: 10px; width:200px" placeholder="Enter your page name" style="display:inline">
    </div>
    <div >
      <label style="display: block;" for="content1">Markdown Content</label>
      <textarea required id="content1" style="display:inline" name="content" cols="20"></textarea>
    </div>
      
    </div>
    <input type="submit">
  </form>
  <style>
    /* Media queries for smaller screens */
    @media only screen and (max-width: 600px) {
      /* Adjust the width of the input field and textarea for smaller screens */
      input[name="page_title"], textarea {
        width: 90%;
      }
    }
  
    /* Media queries for even smaller screens */
    @media only screen and (max-width: 400px) {
      /* Adjust the font-size of the input field and textarea for even smaller screens */
      input[name="page_title"], textarea {
        font-size: 12px;
      }
    }
  </style>

{% endblock %}